.title-letter {
	color: var(--white);
	font-family: 'Bronson' !important;
	line-height: 1em;
	opacity: 0;
}

.section-title {
	position: sticky;
	position: -webkit-sticky;
	top: 20px;
}

.sticky-projects {
	position: sticky;
	position: -webkit-sticky;
}

.title-animation {
	animation: diagonal-in 0.3s cubic-bezier(0.5, 0.95, 0.82, 1.01) forwards;
	-webkit-animation: diagonal-in 0.3s cubic-bezier(0.5, 0.95, 0.82, 1.01) forwards;
}

.section-title .title-animation:nth-child(1) {
	animation-delay: 100ms;
	-webkit-animation-delay: 100ms;
}

.section-title .title-animation:nth-child(2) {
	animation-delay: 200ms;
	-webkit-animation-delay: 200ms;
}

.section-title .title-animation:nth-child(3) {
	animation-delay: 300ms;
	-webkit-animation-delay: 300ms;
}

.section-title .title-animation:nth-child(4) {
	animation-delay: 400ms;
	-webkit-animation-delay: 400ms;
}

.section-title .title-animation:nth-child(5) {
	animation-delay: 500ms;
	-webkit-animation-delay: 500ms;
}

.section-title .title-animation:nth-child(6) {
	animation-delay: 600ms;
	-webkit-animation-delay: 600ms;
}

.section-title .title-animation:nth-child(7) {
	animation-delay: 700ms;
	-webkit-animation-delay: 700ms;
}

.section-title .title-animation:nth-child(8) {
	animation-delay: 800ms;
	-webkit-animation-delay: 800ms;
}

.skill-logo div svg {
	width: 100%;
	height: 100%;
}
