.title {
	opacity: 0;
}

.title-animation {
	animation: diagonal-in 0.5s cubic-bezier(0.5, 0.95, 0.82, 1.01) forwards;
}

.title-wrapper .title-animation:nth-child(1) {
	animation-delay: 1s; 
}

.title-wrapper .title-animation:nth-child(2) {
	animation-delay: 1.2s; 
}

.title-wrapper .title-animation:nth-child(3) {
	animation-delay: 1.4s; 
}

.title-wrapper .title-animation:nth-child(4) {
	animation-delay: 1.6s; 
}

.title-wrapper .title-animation:nth-child(5) {
	animation-delay: 1.8s; 
}

.title-wrapper .title-animation:nth-child(6) {
	animation-delay: 2s; 
}

@keyframes diagonal-in { 
	0% {
		opacity: 1;
		transform: translate(-110vw, -70vh);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}