.section-title {
	color: var(--darkblue);
	font-family: 'Bronson' !important;
	line-height: 1em;
	position: sticky;
	position: -webkit-sticky;
	top: 20px;
}

.icon-logo {
	display: flex;
	flex-direction: column;
	color: var(--lightgrey);
	transition-duration: 0.35s;
	font-size: 60px;
	padding: 8px;
}

.icon-logo:hover {
	color: var(--mediumblue);
}

.social-links {
	font-size: 15px;
}
