:root {
	--white: #ffffff;
	--lightgrey: #e8e8e8;
	--mango: #f05454;
	--mediumblue: #30475e;
	--darkblue: #222831;
}

#root {
	background-color: #ffffff;
	text-align: center;
	background-color: #30475e;
}
